<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Here are all user secrets!</h1>

    <% usersWithSecrets.forEach(user => { %>
      <% user.secrets.forEach(secret => { %>
          <p class="secret-text"><%= secret %> </p>
      <% }) %>
    <% }) %>


    <hr>
    <% if (loggedIn) { %>
         <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <% } else {%>
          <a class="btn btn-light btn-lg" href="/login" role="button">Log In</a>
    <% } %>


    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
